<h1>Hacker News - Register</h1>

<form action="/createuser" method="POST">
  <p>
  <input type="text" name="username" value="username">
  <input type="text" name="password" value="password">
  <input type="text" name="email" value="email">
</p>
  <input type="submit" value="Sign up">
</form>
